
@{
    ViewBag.Title = "Terms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Terms & Conditions</h1>

<h3>Rules of Engagement</h3>
<p>
    Campus Chat would like to encourage our employees, members at all levels, and the wider public to engage in our online media facilities.
    The Institution recognises that the use of online media such as discussion forums and social networking sites can be informative in relation
    to professional areas and developing working relationships.
</p>

<h3>Judgement</h3>
<p>
    Remember that there are consequences to what you publish. There may be times where you feel something has been misrepresented. If you need to correct the content of another user please do so with respect and keep to the facts.
    If you feel even remotely uncomfortable with something you are about to publish try to identify why or seek advice.
</p>

<h3>Public Domain</h3>
<p>
    Be mindful of the fact that any content you publish will be in the public domain and in some cases may remain public for a long peroid of time.
    The user is responsible for any content they publish. Be aware that your content may provoke other responses and be open to other users opinions.
</p>

<h3>Respect</h3>
<p>
    Campus Chat does not condone any ethnic racial slurs, personal insults, obscenity, or engage in any conduct that would be unacceptable by the law
    of in any public environment. If any actions breach our guidelines immediate action will take place reference Moderation for more information.
</p>

<h3>Moderation</h3>
<p>
    Our platform will be responsible to monitor and review all the content that is associated with the organization or posted on its behalf. If the
    Institution identifies content which is not in the line with these guidelines it has the right to either a)delete content where it has administration
    rights on the specific site b) demand removal of content c) take immediate provisions that may limit or put restrictions on the user. If you as a user
    identify potentially damaging or content that is in breach of the guidelines please contact the institution.
</p>