@{
    ViewBag.Title = "About";
}
<h2>Our story</h2>
<h3>Our Purpose</h3>
<p>
    Our mission at Campus Chat is to unite students all over campuses and provide them with a platform where they have tools to
    communicate and interact with their college community and each other.
</p>

<h3>Who we are</h3>
<p>
    We are highly motivated and ambitous group of students at the University of South Carolina. In recent years, we felt a disconnect
    amoung our campus as a whole and students who attend it. We want to hear the voices of our fellow classmates and see what ideas
    or beliefs what they wanted express.
</p>

<h3>Our Mission</h3>
<p>
    We want to create and deliver the best platform for connecting students with each other. We strive everyday to help our users have
    a remarkable college experience.
</p>

<h3>Contact us</h3>
<p>Email us at CampusChat@Campuschat.com</p>
<p>Phone number is 123-456-7891</p>
    <p style="text-align:center">
        <a href="http://localhost:58732/Terms" class="btn btn-primary btn-lg">Terms & Conditions</a>
    </p>

