@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    800 University Way<br />
    Spartanburg, SC 29303<br />
    <abbr title="Phone">Phone Number:</abbr>
    864.555.0100
</address>
