@{
    ViewBag.Title = "Home Page";
}

<div id="container">
    <h1 style="text-align:center">Campus Chat</h1>
    <p class="lead" style="text-align:center">Welcome to Campus Chat, where you can connect with your college community.</p>
    <p style="text-align:center">
        <a href="http://localhost:58732/Account/Login" class="btn btn-primary btn-lg">Login</a>
        <a href="http://localhost:58732/Account/Register" class="btn btn-primary btn-lg">Register</a>
    </p>
</div>