@{
    ViewBag.Title = "Home Page";
}

<div id="container">
        <h1 style="text-align:center">Campus Chat</h1>
        <p class="lead" style="text-align:center">Welcome to Campus Chat, where you can connect with your college community.</p>
        <p style="text-align:center">
            <input type="button" class="btn btn-primary btn-lg" value="Login" onclick="location.href='@Url.Action("Login", "Account")'" />
            <input type="button" class="btn btn-primary btn-lg" value="Register" onclick="location.href='@Url.Action("Register", "Account")'" />
        </p>
</div>