@model CampusChat.Models.AspNetUser
@{
    ViewBag.Title = "EditBio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditBio</h2>

<div>
    <h4>@User.Identity.Name</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Edit biography
        </dt>
        <dd>
            @using (Html.BeginForm("BioEdit", "Account", FormMethod.Post))
            {
                <input type="text" name="editText" />
            }
        </dd>
    </dl>
</div>

