@model CampusChat.Models.AspNetUser
@{
    ViewBag.Title = "EditBio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditBio</h2>

<div>
    <h4>@User.Identity.Name</h4>
    Edit Biography
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @using (Html.BeginForm("EditBio", "Account"))
            {
                <input type="Text" name="editText" onclick="@Url.Action("EditBio", "Account")">
            }
        </dd>
    </dl>
</div>

